body {
    padding: 0;
    display: block;
    width: 100%;
    
}

.hideme {
    display: none;
}

#header {
    height: 70px;
    text-align: center;
}

#leftColumn {
    height: 100%;
    float: left;
}

.menuCaption {
    font-weight: bold;
    font-size: 20px;
}

.cartBox {
    padding: 5px 0px 5px 0px;
}

.HeaderBrand {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

.HeaderBrand:hover {
    text-decoration: none;
    color: white;
}

.Shop_Logo_Icon {
    max-height: 8vh;
    padding-right: 10px;
    padding-bottom: 22px;
}